# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon?
Icon

# Thumbnails
._*

# Files that may appear on external disks
.Spotlight-V100
.Trashes

# Directories and files starting with .ds
.ds*
